<div class="input" [formGroup]="formGroup" [class.disabled]="readonly || control.disabled">
  <input 
    class="floating-input" 
    [type]="type"
    placeholder=" " 
    (focus)="inputFocus=true"
    (blur)="inputFocus=false" 
    [formControl]="control" 
    [autocomplete]="getAutocomplete()"
    [readonly]="readonly"
    [disabled]="readonly || control.disabled">
  <label 
    class="floating-label"
    [class.fixed-label]="inputFocus || (control.value && control.value.length > 0)">{{label}}</label>
</div>
